<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Catálogo</title>
    <link rel="icon" href="img/icone.png">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<link rel="stylesheet" href="estilo/splash.css">
</head>
<body>
    <header id="cabecalho">
        <div id="con-cabecalho">
          <div id="con-nav">
            <nav class="navbar navbar-expand-lg">
              <div class="container-fluid">
                  <a class="navbar-brand" href="#">Início</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Navegação
                      </a>
                      <ul class="dropdown-menu">
                        <li><a class="dropdown-item" th:href="@{/catalogo}">Catálogo</a></li>
                        <li><a class="dropdown-item" th:href="@{/lista-desejo}">Lista de desejo</a></li>
                        <li><a class="dropdown-item" th:href="@{/registrarMoto}">Cadastrar modelo (ADM)</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Sair</a></li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
            </nav>
          </div>
          <div id="logo">
            <img src="img/logo.png" >
            <h1>Motor Showcase</h1>
          </div>
        </div>
      </header>
    <main>
    <h1 class="titulo-pagina">Catálogo com os modelos disponíveis</h1>  
    <div id="con-motos">
        <div th:each="m: ${motos}" th:style="${m.favorita ? 'color:orange' : 'color:blue'}" class="card-moto">
            <div class="img-moto"><img src="https://cdn.motor1.com/images/mgl/pkoZv/s1/4x3/kawasaki-ninja-650-abs-e-ninja-1000.webp"></div>
            <div class="titulo-moto">
              <h3 th:text='${m.modelo}'>Kawasaki ninja</h3>
            </div>
            <div class="conteudo-moto">
              <h3 class="titulo-moto-interno">Placeholder</h3>  
              <p><span th:text='${m.cilindradas}'>500</span> cilindradas</p>
              <p>R$<span th:text='${m.preco}'>20000,00</span></p>
              <p th:text="${m.automatica} ? 'É automática' : 'NÃO é automática'">É automática</p>
              <form th:action="@{/addDesejo}" method="post">
                  <input type="hidden" th:value='${m.id}' name="idMoto">
                  <button type="submit">
                      <img th:src="${m.favorita ? '/img/adicionado.png' : '/img/adicionar.png'}" class="img-botao">
                  </button>
              </form>
            </div>
        </div>
    </div>
    </main>
    
</body>
</html>