<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lista de desejos</title>
    <link rel="icon" href="img/icone.png">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<link rel="stylesheet" href="/estilo/splash.css">
</head>
<body>
    <header th:insert="~{includes/cabecalho}">...</header>
    <main id="main-lista">
        <div class="con-titulo-pagina">
            <h1 class="titulo-pagina">Itens favoritados</h1>
        </div>
        <div id="con-motos-lista" class="container">
              <div th:each="m: ${motosFavoritas}" class="card-moto-lista">
                  <div class="img-moto-lista">
                    <img th:src="@{${m.imagemUrl}}">
                  </div>
                  <div class="conteudo-moto-lista">
                    <h3 th:text='${m.modelo}'>Kawasaki Ninja</h3>
                    <p><span th:text='${m.cilindradas}'>xxx</span> cilindradas</p>
                    <p>R$<span th:text='${m.preco}'>20000.0</span></p>
                    <p th:text="${m.automatica} ? 'É automática' : 'NÃO é automática'"></p>
                    <form th:action="@{/cliente/removerDesejo}" method="post">
                        <input type="hidden" th:value='${m.id}' name="idMoto">
                        <button type="submit" class="btn-favorito-lista botao-removerEstilo">
                            <img src="/img/remover.png">
                        </button>
                    </form>
                  </div>
              </div>
        </div>
    </main>
    <section th:insert="~{includes/rodape}">...</section>
</body>
</html>