<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Novo modelo</title>
    <link rel="icon" href="img/icone.png">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<link rel="stylesheet" href="estilo/splash.css">
</head>
<body>
    <header id="cabecalho">
        <div id="con-cabecalho">
          <div id="con-nav">
            <nav class="navbar navbar-expand-lg">
              <div class="container-fluid">
                  <a class="navbar-brand" th:href="@{/home}">Início</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Navegação
                      </a>
                      <ul class="dropdown-menu">
                        <li><a class="dropdown-item" th:href="@{/catalogo}">Catálogo</a></li>
                        <li><a class="dropdown-item" th:href="@{/lista-desejo}">Lista de desejo</a></li>
                        <li><a class="dropdown-item" th:href="@{/registrarMoto}">Cadastrar modelo (ADM)</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" th:href="@{/logout}">Sair</a></li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
            </nav>
          </div>
          <div id="logo">
            <img src="img/logo.png" >
            <h1>Motor Showcase</h1>
          </div>
        </div>
      </header>
      <main id="main-registro">
      <div class="con-titulo-pagina">
        <h1 class="titulo-pagina">Registrar moto</h1>
      </div>
      <div id="con-registrar">
        <form th:action="@{/saveMoto}" method="post" th:object="${novoMoto}">
            <div class="mb-3">
                <label for="txtModelo" class="form-label">Modelo</label>
                <input type="text" class="form-control" id="txtModelo" th:field="*{modelo}">
            </div>
            <div class="row mb-3">
              <div class="col-lg-6 col-sm-12">
                  <label for="txtCilindradas" class="form-label">Cilindradas</label>
                  <input type="number" class="form-control" id="txtCilindradas" th:field="*{cilindradas}">
              </div>
              <div class="col-lg-6 col-sm-12">
                  <label for="txtPreco" class="form-label">Valor</label>
                  <input type="number" class="form-control" id="txtPreco" th:field="*{preco}">
              </div>
            </div>
            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="boolAutomatica" th:field="*{automatica}">
                <label class="form-check-label" for="boolAutomatica">É automática</label>
            </div>
            <div class="d-flex justify-content-center">
              <button type="submit" class="btn btn-primary">Registrar</button>
            </div>
        </form>
      </div>
      </main>
    <footer id="footer-registrar"><p class="copyright">© 2023 <a href="https://www.linkedin.com/in/bernardo-zacaron/" class="decoration-none">Bernardo Zacaron</a> - Motor Showcase. Todos os direitos reservados.</p></footer>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>