<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Motorbikes Easy ®</title>
	<link rel="icon" href="img/icone.png">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<link rel="stylesheet" href="estilo/splash.css">
</head>
<body id="body-login">
    <div id="con-login">
        <div class="text-center">
            <h1>Bem-vindo!</h1>
            <h4>Crie sua conta gratuitamente</h4>
        </div>
        <div id="box-login">
            <form th:action="@{/login}" method="post" name="form-login">
                <div class="form-outline mb-4">
                    <input type="text" id="inp-nome" class="form-control" placeholder="Nome completo" name="nome"/>
                </div>
                <div class="form-outline mb-4">
                    <input type="email" id="inp-email" class="form-control" placeholder="E-mail" name="email"/>
                </div>
                <div class="form-outline mb-4">
                    <input type="text" id="inp-login" class="form-control" placeholder="Nome de usuário" name="username"/>
                </div>
                <div class="form-outline mb-4">
                    <input type="password" id="inp-senha" class="form-control" placeholder="Senha" name="password"/>
                </div>
                <div class="form-outline mb-4">
                    <input type="password" id="inp-senhaRepetir" class="form-control" placeholder="Repetir senha" name="passwordRepeat"/>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn-lg btn-primary btn-block mb-4">Cadastrar</button>
                </div>
            </form>
        </div>
        <div class="text-center">
            <p>Já possuo uma conta. <a th:href="@{/login}">Acessar</a></p>
        </div>
    </div>
    <section th:insert="~{includes/rodape}" style="position: absolute; bottom: 0; width: 100%;">...</section>
</body>
</html>