<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Novo modelo</title>
    <link rel="icon" href="img/icone.png">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<link rel="stylesheet" href="/estilo/splash.css">
</head>
<body>
    <header th:insert="includes/cabecalho">...</header>
    <main id="main-registro">
      <div class="con-titulo-pagina">
        <h1 class="titulo-pagina">Registrar moto</h1>
      </div>
      <div id="con-registrar">
        <form th:action="@{/admin/saveMoto}" method="post" th:object="${novoMoto}">
            <div class="mb-3">
                <label for="txtModelo" class="form-label">Modelo</label>
                <input type="text" class="form-control" id="txtModelo" th:field="*{modelo}">
            </div>
            <div class="row mb-3">
              <div class="col-lg-6 col-sm-12">
                  <label for="txtCilindradas" class="form-label">Cilindradas</label>
                  <input type="number" class="form-control" id="txtCilindradas" th:field="*{cilindradas}">
              </div>
              <div class="col-lg-6 col-sm-12">
                  <label for="txtPreco" class="form-label">Valor</label>
                  <input type="number" class="form-control" id="txtPreco" th:field="*{preco}" placeholder="R$">
              </div>
            </div>
            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="boolAutomatica" th:field="*{automatica}">
                <label class="form-check-label" for="boolAutomatica">É automática</label>
            </div>
            <div class="d-flex justify-content-center">
              <button type="submit" class="btn btn-primary">Registrar</button>
            </div>
        </form>
      </div>
      </main>
    <footer id="footer-registrar"><p class="copyright">© 2023 <a href="https://www.linkedin.com/in/bernardo-zacaron/" class="decoration-none">Bernardo Zacaron</a> - Motor Showcase. Todos os direitos reservados.</p></footer>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>