<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Novo modelo</title>
    <link rel="icon" href="img/icone.png">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<link rel="stylesheet" href="/estilo/splash.css">
    <link rel="stylesheet" href="/estilo/responsividade.css">
</head>
<body>
    <header th:insert="~{includes/cabecalho}">...</header>
    <main id="main-registro">
      <div class="con-titulo-pagina">
        <h1 class="titulo-pagina">Registrar moto</h1>
      </div>
      <div id="con-registrar">
        <form th:action="@{/admin/saveMoto}" method="post" th:object="${novoMoto}">
            <div class="mb-3">
              <label for="sltMarca" class="form-label">Marca</label>
              <select class="form-select" aria-label="Default select example" id="sltMarca" th:field="*{marca}">
                <option value="Honda">Honda</option>
                <option value="Yamaha">Yamaha</option>
                <option value="BMW">BMW</option>
                <option value="Kawasaki">Kawasaki</option>
                <option value="Harley-Davidson">Harley Davidson</option>
              </select>
            </div>
            <div class="mb-3">
                <label for="txtModelo" class="form-label">Modelo</label>
                <input type="text" class="form-control" id="txtModelo" th:field="*{modelo}">
            </div>
            <div class="row mb-3">
              <div class="col-lg-6 col-sm-12">
                  <label for="txtCilindradas" class="form-label">Cilindradas</label>
                  <input type="number" class="form-control" id="txtCilindradas" th:field="*{cilindradas}">
              </div>
              <div class="col-lg-6 col-sm-12">
                  <label for="txtPreco" class="form-label">Valor</label>
                  <input type="number" class="form-control" id="txtPreco" th:field="*{preco}" placeholder="R$">
              </div>
            </div>
            <div class="row mb-3">
                <div class="col-lg-6 col-sm-12">
                    <label for="sltTerreno" class="form-label">Selecione o terreno</label>
                    <select class="form-select" aria-label="Default select example" id="sltTerreno" th:field="*{terreno}">
                        <option value="Asfalto">Asfalto</option>
                        <option value="Off-road">Off-road</option>
                        <option value="Misto">Misto</option>
                    </select>
                </div>
                <div class="col-lg-6 col-sm-12 form-inline d-flex justify-content-evenly" id="conAutomatica">
                    <div>
                        <input type="checkbox" class="form-check-input" id="boolAutomatica" th:field="*{automatica}">
                        <label class="form-check-label" for="boolAutomatica" id="lblAutomatica">É automática</label>
                    </div>
                    <div>
                        <input type="checkbox" class="form-check-input" id="boolAbs" th:field="*{abs}">
                        <label class="form-check-label" for="boolAbs" id="lblAbs">Tem freio ABS</label>
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <label for="txtModelo" class="form-label">URL da imagem da moto</label>
                <input type="text" class="form-control" id="txtImagemURL" th:field="*{imagemUrl}">
            </div>
            <div class="mb-3">
                <input type="checkbox" class="form-check-input" id="boolVisisvel" th:field="*{visivel}" checked>
                <label class="form-check-label" for="boolVisisvel" id="lblVisivel">Anúncio ativo</label>
            </div>
            
            <div class="d-flex justify-content-center">
              <button type="submit" class="btn btn-primary">Registrar</button>
            </div>
        </form>
      </div>
      </main>
    <section th:insert="~{includes/rodape}" style="align-self: end;">...</section>
</body>
</html>