<header id="cabecalho">
  <div id="con-cabecalho">
    <div id="con-nav">
      <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
          <a class="navbar-brand" th:href="@{/home}">Início</a>
          <div class=" navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Navegação
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" th:href="@{/catalogo}">Catálogo &#127949;</a></li>
                  <li sec:authorize="isAuthenticated()"><a class="dropdown-item" th:href="@{/cliente/lista-desejo}">Lista de desejo &#10084;</a></li>
                  <li sec:authorize="hasRole('ROLE_ADMIN')"><a class="dropdown-item" th:href="@{/admin/registrarMoto}">Cadastrar modelo (ADM) &#10133;</a></li>
                  <li sec:authorize="hasRole('ROLE_ADMIN')"><a class="dropdown-item" th:href="@{/admin/gerenciar}">Gerenciar coleção (ADM) &#128188;</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li sec:authorize="!isAuthenticated()"><a class="dropdown-item" th:href="@{/login}">Fazer login</a></li>
                  <li sec:authorize="isAuthenticated()"><a class="dropdown-item" th:href="@{/logout}">Sair</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
    <div id="logo">
      <img src="/img/logo.png" >
      <h1>Motor Showcase</h1>
    </div>
  </div>
</header>