@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Raleway:wght@600&family=Roboto+Condensed&display=swap');

@media (max-width: 500px) {

main{
    width: 100%;
    background-image: url("https://live.staticflickr.com/3217/3499224708_9b089d2b83_b.jpg");
    background-repeat: repeat-y;
    background-size: 100% auto;
}

#main-index{
    padding-top: 1%;
}

#main-lista{
    position: absolute;
}

#main-catalogo{
    position: relative;
}


/*Cabeçalho*/
#cabecalho a{
    color: black;
}

#con-nav{
    display: flex;
    flex-direction: column;
    align-items: end;
}

#logo{
    margin-top: -2%;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    align-items: end;
}
#logo img{
    width: 50%;
    margin-bottom: -10%;
}
#logo h1{
    font-size: x-large;
    display: inline-block;
}

#con-cabecalho{
    height: 12%;
    display: flex;
    flex-direction: row;
}


/*Conteudo*/
.con-titulo-pagina{
    width: 100%;
    background-color: rgb(186, 209, 247, 0.5);
}

.titulo-pagina{
    font-size: 1.2em;
}

#box-apresentacao{
    width: 94%;
    padding: 2%;
    margin: 1% 3% 0;
    background-color: rgb(66, 135, 245, 0.9);
}

#con-main{
    height: 90%;
}

/*Rodapé*/
footer{
    display: none;
}

footer p{
    font-size: small;
    align-self: flex-end;
}


/*Pagina catalogo*/
#main-catalogo{
    min-height: 90%;
}

#con-motos-catalogo{
    display: grid;
    width: 100%;
    height: fit-content;
    padding-bottom: 10%;
}

.img-moto-catalogo{
    width: 70%;
    height: 25%;
    margin: 0 15% 2%;

    grid-area: "imagem";
}
.img-moto-catalogo img{
    width: 100%;
}

.conteudo-moto-catalogo{
    grid-area: conteudo;
    text-align: center;
}

.card-moto-catalogo{
    width: 90%;
    margin: 1% 5% 2%;
    line-height: 0.5rem;

    display: grid;
    grid-template-areas: 
    "conteudo"
    "imagem";
}
.card-moto-catalogo h3{
    font-size: larger;
    font-weight: bolder;
}
.card-moto-catalogo p{
    font-size: medium;
}

.btn-favorito-catalogo img{
    width: 30%;
}

#texto-catalogo{
    display: none;
}

#texto-catalogo img{
    width: 5%;
    float: left;
}

.titulo-moto-vertical{
    display: none;
}


/*Pagina lista*/
#con-motos-lista{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: stretch;
    align-items: stretch;
    width: 100%;
}

.card-moto-lista{
    border: 3px red solid;
    background-color: var(--azulClaro);
    width: 96%;
    padding: 1%;
    margin: 0 2% 2%;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.img-moto-lista{
    width: 45%;
}
.img-moto-lista img{
    width: 200px;
    height: 140px;
}

.conteudo-moto-lista{
    width: 45%;
}

.conteudo-moto-lista h3{
    font-size: large;
}

.btn-favorito-lista img{
    width: 40%;
}


/*Pagina registro moto*/
#main-registro{
    height: fit-content;
    width: 100%;
}

#con-registrar{
    width: 96%;
    margin: 2% 2% 0;

    padding: 2%;
}

#conAutomatica{
    padding-top: 5%;
}


/*Página login*/
#body-login{
    padding-top: 2%;
}

#box-login{
    width: 80%;
    margin: 2% 10% 0;
    padding: 2%;
    border: 2px gray solid;
    border-radius: 2%;
}

/*Página gerenciar*/
#main-gerenciar{
    min-height: 80%;
}

.card-moto-gerenciar{
    display: grid;
    grid-template-areas: 
    "titulo"
    "imagem"
    "acoes";
    justify-items: stretch;
    align-items: stretch;

    padding: 1%;
    width: 90%;
    margin: 1% 5% 1%;
}

.card-moto-gerenciar h2{
    font-size: 3em;
    text-align: center;
    margin-bottom: 15%;
}

.acoes-gerenciar{
    display: flex;
    justify-content: space-around;
    grid-area: "acoes";
}

.titulo-gerenciar{
    grid-area: "titulo";
}

.celula-conteudo-gerenciar{
    width: 45%;
}

.celula-imagem-gerenciar{
    grid-area: "imagem";
}
.celula-imagem-gerenciar img{
    width: 60%;
}

.btn-acao-gerenciar p{
    text-align: center;
    letter-spacing: 3px;
}

}