@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Raleway:wght@600&family=Roboto+Condensed&display=swap');

p,h3{
    font-family: 'Roboto Condensed', sans-serif;
}
h1{
    font-family: 'Poppins', sans-serif;
}

main{
    width: 100%;
    background-image: url("https://live.staticflickr.com/3217/3499224708_9b089d2b83_b.jpg");
    background-repeat: repeat-y;
    background-size: 100% auto;
}

#main-index{
    display: flex;
    flex-direction: row;
    align-content: stretch;
    position: relative;
    overflow: hidden;
    height: 75%;
}

#main-catalogo{
    min-height: 90%;
    position: absolute;
}

#cabecalho h1{
    font-family: 'Raleway', sans-serif;
}

#cabecalho a{
    color: black;
}

#con-nav{
    align-self: flex-end;
}

#logo{
    float: right;
    grid-area: logo;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-end;
    margin-left: 50%;
}
#logo img{
    width: 30%;
    flex-direction: column;
    align-items: flex-start;
    margin: -5% 0 -8%;
}

#con-cabecalho{
    background-color: red;
    border-bottom: darkgray 3px solid;
    height: 20%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.titulo-pagina{
    text-rendering: optimizeLegibility;
}

.con-titulo-pagina{
    width: 100%;
    background-color: rgb(186, 209, 247, 0.5);
}

#box-apresentacao{
    border: 3px darkgray solid;
    border-radius: 2%;
    padding: 2%;
    margin: 1% 5% 1%;
    background-color: rgb(66, 135, 245, 0.9);
}

#con-footer{
    align-self: end;
}

footer{
    width: 100%;
    border-top: darkgray 3px solid;
    background-color: red;
    display: flex;
    flex-direction: column;
    height: 5%;
}

footer p{
    font-size: small;
    align-self: flex-end;
}

/*Card motos*/

.img-moto img{
    width: 500px;
    height: 350px;
}
.img-moto{
    grid-area: imagem;
    text-align: end;
    margin-right: 5%;
}
.titulo-moto{
    grid-area: titulo;    
    text-align: center;
    overflow: hidden;
    white-space: nowrap;

    display: grid;
    justify-content: center;
    align-content: center;
}
.titulo-moto h3{
    font-size: 3em;
    -webkit-transform: rotate(90deg);
    vertical-align: middle;
}

.titulo-moto-interno{
    font-size: 2em;
}

.conteudo-moto{
    grid-area: conteudo;
    font-size: x-large;
    text-align: start;
}

.card-moto{
    color: black;
    border: 1px black solid;
    border-radius: 1%;
    background-color: cadetblue;
    
    padding: 2% 0 2%;
    margin-bottom: 2%;
    width: 90%;

    
    display: grid;
    grid-template-columns: 60% 35% 1fr;
    grid-template-areas: 
    'imagem conteudo titulo';

    position: relative;
}

.aberto{
    transition: left 0.5s ease-in-out;
    left: -5%;
}
.fechado{
    transition: left 0.5s ease-in-out;
    left: -85%;
}

#botao-favorito{
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.img-botao{
    width: 50%;
}